
<div class="dynamicore_div_block woocommerce_after_product_price">
    <img
        alt="Enpagos"
        class="logo"
        src="{{ company.logo.imagotipoHorizontal|default(site_url ~ '/wp-content/plugins/enpagos/templates/img/imagotipo-horizontal.svg') }}"
        style="height: 2em;"
    />

    <span style="font-size: 1.2em;">
        Paga a plazos sin tarjeta de crédito
        <a
            href="{{ dynamicore_panel ~ external_route }}"
            onclick="return showProductTerms(this);"
            style="font-weight: lighter; text-decoration: underline;"
        >
    	    Ver más
        </a>
    </span>
</div>
